h1 {
    color: white;
    margin-top: 15px;
}

#box {
    display: flex;
    justify-content: space-between;
}

//  ---------- INPUTS ----------

#inputs-card {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 31%;
    background-color: #fbfbfb;
    border-radius: 4px;
}

#card-header {
    height: 15%;
    border-bottom: 1px solid;
    border-color: #a4a4a4;
    background-color: #e6e6e6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
}

#card-body {
    flex: 1;
}

#card-footer {
    display: flex;
    justify-content: space-around;
    height: 15%;
    border-top: 1px solid;
    border-color: #a4a4a4;
    background-color: #e6e6e6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

#inputs-card h5 {
    margin-top: 11px;
    margin-left: 5%;
}

// .form-group {
//     display: flex;
// }

label {
    margin-top: 20px;
    font-weight: bold;
}

form p {
    margin-top: 24px;
    margin-bottom: 0rem;
    margin-left: 5%;
    font-weight: bold;
}

input {
    width: 90%;
    margin-left: 5%;
}

button {
    margin-top: 2%;
    width: 90%;
    height: 70%;
    color: white;
    background-color: #1d7bb5;
    border: 1px solid;
    border-color: #1d7bb5;
    border-radius: 4px;
}

//  ---------- OUTPUTS ----------

#twenties-output {
    height: 150px;
}

#twenties-output h5 {
    margin-top: 10px;
}
#twenties-output p {
    margin-top: 20px;
    font-size: 20px;
}

#tens-output {
    height: 150px;
}

#tens-output h5 {
    margin-top: 10px;
}
#tens-output p {
    margin-top: 20px;
    font-size: 20px;
}

#fives-output {
    height: 150px;
}

#fives-output h5 {
    margin-top: 10px;
}
#fives-output p {
    margin-top: 20px;
    font-size: 20px;
}

#ones-output {
    height: 150px;
}

#ones-output h5 {
    margin-top: 10px;
}
#ones-output p {
    margin-top: 20px;
    font-size: 20px;
}

#quarters-output {
    height: 150px;
}

#quarters-output h5 {
    margin-top: 10px;
}
#quarters-output p {
    margin-top: 20px;
    font-size: 20px;
}

#dimes-output {
    height: 150px;
}

#dimes-output h5 {
    margin-top: 10px;
}
#dimes-output p {
    margin-top: 20px;
    font-size: 20px;
}

#nickels-output {
    height: 150px;
}

#nickels-output h5 {
    margin-top: 10px;
}
#nickels-output p {
    margin-top: 20px;
    font-size: 20px;
}

#pennies-output {
    height: 150px;
}

#pennies-output h5 {
    margin-top: 10px;
}
#pennies-output p {
    margin-top: 20px;
    font-size: 20px;
}
