h1 {
    color: white;
    margin-top: 15px;
}

#inputs-card {
    height: 350px;
}

#inputs-card h5 {
    margin-top: 7px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 20px;
    font-weight: bold;
}

label p {
    margin-bottom: 0rem;
}

input {
    width: 100%;
}

button {
    width: 100%;
}

#twenties-output {
    height: 150px;
}

#twenties-output h5 {
    margin-top: 10px;
}
#twenties-output p {
    margin-top: 20px;
    font-size: 20px;
}

#tens-output {
    height: 150px;
}

#tens-output h5 {
    margin-top: 10px;
}
#tens-output p {
    margin-top: 20px;
    font-size: 20px;
}

#fives-output {
    height: 150px;
}

#fives-output h5 {
    margin-top: 10px;
}
#fives-output p {
    margin-top: 20px;
    font-size: 20px;
}

#ones-output {
    height: 150px;
}

#ones-output h5 {
    margin-top: 10px;
}
#ones-output p {
    margin-top: 20px;
    font-size: 20px;
}

#quarters-output {
    height: 150px;
}

#quarters-output h5 {
    margin-top: 10px;
}
#quarters-output p {
    margin-top: 20px;
    font-size: 20px;
}

#dimes-output {
    height: 150px;
}

#dimes-output h5 {
    margin-top: 10px;
}
#dimes-output p {
    margin-top: 20px;
    font-size: 20px;
}

#nickels-output {
    height: 150px;
}

#nickels-output h5 {
    margin-top: 10px;
}
#nickels-output p {
    margin-top: 20px;
    font-size: 20px;
}

#pennies-output {
    height: 150px;
}

#pennies-output h5 {
    margin-top: 10px;
}
#pennies-output p {
    margin-top: 20px;
    font-size: 20px;
}
